@import 'foundation_and_overrides';

.home-index header {
  padding: 7em 0;
  .panel {
    padding: 5em 0;
  }
}
@media #{$sm} {
 .home-index header {
    padding: 2em 0;
  }
  .panel h1, h1 {
    margin-bottom: 0em;
  }
  .panel h2.subheader {
    line-height: 1em;
  }
}

textarea {
  height: 80px;
  font-size: 18px;
}

#letters-remaining {
  color: #999;
  font-size: 16px;
  &.over {
    color: #ff3333;
  }
}

ul.tweeters {
  li, li a {
    text-align: center;
    display: block;
    border-radius: 5px;
    margin: 0;
    &:hover {
      color: #888;
    }
  }
  li.label a {
    color: white;
    &:hover {
      color: #ddd;
    }
  }
  li a { padding: 5px 5px; }
}

.center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}

.hidden {
  display: none;
}
