nav {
  color: white !important;
}

textarea {
  height: 80px;
  font-size: 18px;
}

#letters-remaining {
  color: #999;
  font-size: 16px;
  &.over {
    color: #ff3333;
  }
}

.center {
  text-align: center;
}

div {
  /*border: 1px solid #999;*/
}

ul.tweeters {
  li, li a {
    display: block;
    border-radius: 5px;
    margin: 0;
  }
  li a { padding: 5px 5px; }
  li.active a {
    width: 100%;
    background-color: #ddd;
    &:hover {
      color: black;
    }
  }
}
